{% extends 'MariscoBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('marisco_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;总览  <span class="sr-only">(current)</span></a></li>
        <li><a><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;信息</a></li>
        <li><a><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; 分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('category_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;分类管理</a></li>
        <li><a href="{{ path('product_selectCategory') }}"><i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li class="active"><a href="{{ path('sale_index') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;折扣管理</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">满多少减多少</h1>
    <a href="{{ path('sale_index') }}" class="button button-rounded button-inverse">返回</a>
    <br><br><br>
    <form class="form-inline" action="{{ path('d_edit_sale') }}" method="post">
        <div class="form-group">
            <label for="codigo">满</label>
            <input type="number" step="0.01" class="form-control" id="codigo" name="codigo" placeholder="多少" required="required">
        </div>
        <div class="form-group">
            <label for="price">减</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="多少" required="required">
        </div>
        <button type="submit" class="btn btn-inverse">修改</button>
    </form>
    <br>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
    <h4>没有折扣时，减修改为0即可。</h4>
    <br>
    <div class="col-xs-4">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>满</th>
                <th>减</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ global.man }}</td>
                    <td>{{ global.jian }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}