{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/marisco/css/cart.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
    {% include 'MariscoBundle:Public:header.html.twig' %}

    <section id="main" class="content-main" role="main">
        <h2>订单{{ orderInfo.id }} 货品列表</h2>
        <h4>金额: {{ orderInfo.totalPrice|number_format(2, '.', ',') }} EUR</h4>
        <br>
        <section id="shop-cart-content" data-controller="shop/shop-cart-controller">
            <form action="" method="POST" class="_shopCartForm">
                <table class="order-table">
                    <thead>
                    <tr class="thead">
                        <th style="width: 20%;">图片</th>
                        <th class="description">名称</th>
                        <th class="description">货号</th>
                        <th class="quantity">数量</th>
                        <th class="quantity">单价</th>
                        <th class="quantity">小计</th>
                    </tr>
                    </thead>
                    <tbody id="shangpin">
                    {% for orderItem in orderItems %}
                        <tr id="order-item" class="order-item  _order-item-919231977">
                            <td class="_detail">
                                <img src="{{ asset('uploads/fotos/' ~ orderItem.product.foto) }}" width="160px;">
                            </td>
                            <td class="description _detail">
                                <span>{{ orderItem.product.name }}</span>
                            </td>
                            <td class="description _detail">
                                <span>{{ orderItem.product.code }}</span>
                            </td>
                            <td class="quantity">
                                <span class="_quantity" id="_unit">{{ orderItem.quantity }} </span>
                            </td>
                            <td class="quantity">
                                <span class="_quantity" id="_unit">{{ orderItem.price|number_format(2, '.', ',') }} </span>
                            </td>
                            <td class="quantity">
                                <span class="_quantity" id="_unit">{{ orderItem.total|number_format(2, '.', ',') }} </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="anniu">
                    <button class="button-secondary button-big FL _continue-shopping-btn"  style="width: 200px;" onclick="window.location.href='{{ path('order_pedido') }}'" type="button"><span>返回</span></button>
                    <button class="button-secondary button-big FL _continue-shopping-btn button-primary" onclick="window.print();"><i class="fa fa-print"></i> 打印</button>
                </div>
            </form>
        </section>
    </section>
    </div>
{% endblock %}