
{% block stylesheets %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <br><br>
    <div class="container" style="min-height:400px;">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <h3>尊敬的客户: {{ orderInfo.user.username }}</h3>
                <br><br>
                <h4>您的订单: {{ orderInfo.id }} 我们已经完成备货，准备发货。预计到达时间: {{ time }}</h4>
                <br>
                <h4>客户名/送货人员联系方式: {{ tel }}</h4>
                <h4>客户名/公司名: {{ orderInfo.receiverName }}</h4>
                <h4>订单总额: {{ orderInfo.totalPrice|number_format(2, '.', ',') }} €</h4>
                <h4>送货地址：{{ orderInfo.receiverAdress }}, {{ orderInfo.receiverPostcode }}, {{ orderInfo.receiverCity }}</h4>
                <h4>下单时间: {% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i') }}{% endif %}</h4>
                <br>
                <h4>Atentamente,</h4>
                <h4>el Equipo 123海鲜网.</h4>
            </div>
        </div>
    </div>
{% endblock %}
