
    <div class="container" style="min-height:400px;">
        <div class="box col-xs-12 col-lg-6" style="display: inline-block;margin-top: 30px">
            <h3 class="box"><b>您已成功下单, 可在查看订单中校对订单信息.</b></h3>
            <h4>非常感谢您的使用！</h4>
            <br><br><br>
            <h4>客户名/公司名: {{ orderInfo.receiverName }}</h4>
            <h4>总订单: {{ orderInfo.id }}</h4>
            <h4>订单总额: {{ orderInfo.totalPrice|number_format(2, '.', ',') }} €</h4>
            <h4>下单时间: {% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i') }}{% endif %}</h4>
            <h4>预约送货时间: {% if orderInfo.wantDate %}{{ orderInfo.wantDate|date('Y-m-d H:i') }}{% endif %}</h4>
            <br>
            <h4>Atentamente,</h4>
            <h4>el Equipo 123海鲜网.</h4>
        </div>
    </div>
